/**
 * $!{table.comment}
 *
 * @author ${author}
 * @since ${date}
 */
import {BaseEntity} from '../../base/domain/base-entity';

export class ${entity} implements BaseEntity {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")
#if(${field.name} !='created_by'
&&${field.name} !='created_date'
&&${field.name} !='last_modified_by'
&&${field.name} !='last_modified_date'
&&${field.name} !='version_lock')
    //${field.comment}
#end
#end
## 普通字段
#if(${field.name} !='created_by'
&&${field.name} !='created_date'
&&${field.name} !='last_modified_by'
&&${field.name} !='last_modified_date'
&&${field.name} !='version_lock')
#if(${field.propertyType} == 'short'
||${field.propertyType} == 'Short'
||${field.propertyType} == 'int'
||${field.propertyType} == 'Integer'
||${field.propertyType} == 'long'
||${field.propertyType} == 'Long'
||${field.propertyType} == 'float'
||${field.propertyType} == 'Float'
||${field.propertyType} == 'double'
||${field.propertyType} == 'Double')
    public ${field.propertyName}?: number;
#else
    public ${field.propertyName}?: string;
#end
#end
#end
## ----------  END 字段循环遍历  ----------
}
